@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body {
    background: url('https://images.pexels.com/photos/1743165/pexels-photo-1743165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') 
        no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh; 
}

.app {
    width: 90%; 
    max-width: 400px; 
    padding: 20px;
    color: #e5e5e5;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(108deg, #821ea9, #7c43e0);
    margin: auto;
    text-align: center; 
}

.app h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}


.input-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
}

.input-wrapper input {
    width: calc(100% - 80px); 
    padding: 5px 10px;
    height: 35px;
    font-size: 14px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
}

.input-wrapper button {
    width: 80px;
    height: 35px;
    background-color: black;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.input-wrapper button:hover {
    background-color: #333;
    transform: scale(1.1); 
}

.content {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.location {
    margin-top: 10px;
}

.location h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.location h2 span {
    font-size: 14px;
}

.weatherdesc h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 10px 0;
}

.tempstats {
    margin: 20px 0;
}

.tempstats h1 {
    font-size: 48px;
    font-weight: 200;
    margin: 0;
}

.tempstats h1 span {
    font-size: 28px;
}

.tempstats h3 {
    font-size: 14px;
    margin: 10px 0;
}

/* Wind Stats */
.windstats {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}


@media (max-width: 1024px) {
    .app {
        max-width: 600px; 
    }

    .tempstats h1 {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .app {
        padding: 15px;
    }

    .input-wrapper input {
        font-size: 12px;
    }

    .tempstats h1 {
        font-size: 36px;
    }

    .tempstats h1 span {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .app {
        padding: 10px;
    }

    .input-wrapper {
        flex-direction: column;
    }

    .input-wrapper input,
    .input-wrapper button {
        width: 100%;
        margin-bottom: 10px;
    }

    .tempstats h1 {
        font-size: 30px;
    }

    .tempstats h1 span {
        font-size: 18px;
    }
}
